/** @format */

* {
  margin: 0;
  padding: 0;
}

.remaning_content {
  width: 100%;
  overflow: hidden;
  background-image: url("../asset/img/background.png");
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
}

.chats {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex: 1;
  height: 100%;
  padding-top: 20px;
}

.chats .headline {
  font-size: var(--font-size-large);
  font-family: Poppins;
  color: #0d0d0d;
  font-weight: 400;
  flex: 1;
  align-content: center;
  color: #fff;
}

.chats .search_bar {
  width: 100%;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 4px;
  padding: 2px;
  padding-right: 10px;
}

.chats .search_bar .additional_btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chats .search_bar .additional_btn svg {
  font-size: 20px;
}

.chats .search_bar .input_box {
  border: 1px solid #0dab51;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #000000;
  border-radius: 4px;
  padding: 0px 10px;
}
.chats .search_bar .input_box .star_icon {
  width: 20px;
}
.chats .search_bar .input_box input {
  flex: 1;
  width: 100%;
  outline: none;
  padding: 10px;
  font-family: Poppins;
  font-size: var(--font-size-smaller);
  color: #fff;
  background-color: transparent;
  border: none;
}
.chats .search_bar .input_box .send_btn {
  width: 30px;
  height: 30px;
  background-color: #323232;
  border: 1px solid #323232;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.chats .search_bar .input_box .send_btn svg {
  font-size: var(--font-size-extra-small);
  color: #fff;
}

.chats_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.chats_list .user_text {
  font-size: var(--font-size-extra-small);
  color: #0d0d0d;
  border: 1px solid #e8e8e8;
  max-width: 70%;
  width: auto;
  align-self: flex-end;
  font-family: Poppins;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #e8e8e8;
}
.chats_list .ai_text {
  color: #fff;
  border: none;
  max-width: 100%;
  width: auto;
  align-self: flex-start;
  font-family: Poppins;
  font-weight: 400;
  padding: 10px 0px;
  border-radius: 50px;
  background-color: transparent;
}

.chats_list .ai_text h1 {
  font-size: var(--font-size-subheading);
}
.chats_list .ai_text h2 {
  font-size: var(--font-size-medium-large);
}
.chats_list .ai_text h3 {
  font-size: var(--font-size-large);
}
.chats_list .ai_text p,
.chats_list .ai_text li {
  font-size: var(--font-size-extra-small);
}

.chats_list .ai_text ul,
.chats_list .ai_text ol {
  padding-left: 40px;
}

.ai_chats .chats_list {
  flex: 1;
  overflow-y: scroll;
  padding-bottom: 200px;
  max-height: calc(100vh - 300px);
}
.ai_chats .search_container {
  background-color: transparent;
  width: 100%;
  padding: 0px;
  padding-top: 60px;
  position: sticky;
  bottom: 0px;
}
.ai_chats .chats_list::-webkit-scrollbar {
  display: none;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.header svg {
  cursor: pointer;
}
.header .logo_container {
  max-width: 189px;
}
.header .logo {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.auth_btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.auth_btns .login_btn {
  background-color: #239453;
  border: 1px solid #239453;
}
.auth_btns .signup_btn {
  background-color: transparent;
  border: 1px solid #fff;
}
.auth_btns button {
  width: 124px;
  line-height: auto;
  font-size: var(--font-size-small);
  font-family: Afacad;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .remaning_content {
    padding: 10px;
  }
  .header .logo_container {
    max-width: 120px;
  }
  .header .auth_btns button {
    font-size: var(--font-size-smaller);
    width: 100px;
  }
}
