/** @format */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

:root {
  --primary-color: #0b5427;
  --secendory-color: #24995d;
  --font-size-heading: 42px; /* Largest Heading */
  --font-size-subheading: 36px; /* Subheading */
  --font-size-medium-large: 32px; /* Subheading */
  --font-size-large: 23px; /* Large font size */
  --font-size-medium: 22px; /* Medium font size */
  --font-size-base: 20px; /* Base font size */
  --font-size-small: 18px; /* Small font size */
  --font-size-smaller: 16px; /* Slightly smaller */
  --font-size-extra-small: 14px; /* Extra small font size */
  --font-size-xs-small: 12px; /* Smallest font size */
}

.rnc__notification-message{
  font-family: Quicksand !important;
}